<div class="card">
  <div class="card-body">
    <h4>Nova Postagem</h4>
     <form class="" action="index.html" method="post">
         <label for="titulo">Título:</label>
         <input type="text" name="titulo" class="form-control">
         <label for="slug">Slug:</label>
         <input type="text" name="slug" class="form-control" value="">
         <label for="descrecao">Descrição</label>
         <input type="text" name="descricao" class="form-control" value="">
         <label for="conteudo">Conteúdo</label>
         <textarea name="conteudo" class="form-control" rows="8" cols="80"></textarea>
         <button class="btn btn-success mt-2" type="submit" name="button">Criar Postagem</button>
     </form>
  </div>
</div>

